#wrapper {
    width: auto;
    height: auto;
    background-color: rgba(104, 117, 137);
}

#main {
    width: 90%;
    margin-left: 5%;
    height: 1000px;
    background-color: white;
}

h1{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align-last: center;
    padding-top: 1em;
}

h2{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align-last: left;
    padding-top: 1em;
}